      <% errors.forEach((message) => { %>
        <div class=" text-center alert alert-danger "><%= message %></div>
       <% }) %>

         <% success.forEach((message) => { %>
        <div class=" text-center alert alert-success "><%= message %></div>
       <% }) %>